{% extends 'dog_show_app/base.html' %}

{% block title %}
    Определение собаки по оценивающему ее эксперту
{% endblock title %}

{% block content %}

    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
            {% for expert in experts %}
                <p>
                    <a href="{% url 'expert' expert.id %}">
                        <button type="button" class="btn btn-primary">{{ expert.surname }} {{ expert.name }} {{ expert.patronymic }}</button>
                    </a>
                </p>
            {% endfor %}
        </div>

{% endblock content %}